body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3498db; /* Ganti kode warna dengan warna yang Anda inginkan */
    color: #ffffff; /* Ganti kode warna untuk teks */
    font-family: Arial, sans-serif; /* Ganti jenis font jika diinginkan */
    margin: 0; 
    padding: 20px; 
    flex-direction: column;
}