@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Permanent+Marker&family=Rubik+Burned&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    
}

body {
    background-color: white;
}

nav {
    width: 100%;
}

.warpNav {
    height: 70px;
    background-color: #21201f;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0 80px;
    flex-wrap: wrap;
}

nav h1 {
    color: #ef6817;
}

.bntNav a {
    text-decoration: none;
    color: #ef6817;
}

.bntNav {
    display: flex;
    gap: 30px;
}

.containerHome{
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cardHome{
    border-radius: 30px 0 30px 0;
    background-color:#ef6817 ;
    width: 900px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
}

.cardHome2{
    border-radius: 30px 0 30px 0;
    background-color:#ef6817 ;
    width: 900px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
    flex-direction: row-reverse;
}

article{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

article h1{
    color: white;
    font-size: 40px;
}

article p{
    font-size: 18px;
}

#jokowi{
    width: 400px;
    height: 400px;
}

#btnMovie{
    border-radius: 30px;
    text-decoration: none;
    width: 150px;
    padding: 10px;
    background-color: #21201f;
    color: white;
}